.Input {
    background-color: #fff;
    border: 1px solid #aaa;
}

.Input.error {
    border: 1px solid red;
}

.Input>input {
    background-color: transparent;
    border: none;
    padding: var(--gap);
}