.Dropdown {
    position: relative;
    min-width: 200px;
}

.Dropdown>.header {
    border: 1px solid #e1e1e1;
    padding: var(--gap) 20px;
}

.Dropdown>.header:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

.Dropdown>.header:active {
    background-color: #fff;
}

.Dropdown>.list {
    border: 1px solid #e1e1e1;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.Dropdown>.list>div {
    padding: var(--gap) 20px;
    border-bottom: 1px solid #e1e1e1;
}

.Dropdown>.list>div.selected {
    background-color: var(--color_primary);
    color: #fff;
}

.Dropdown>.list>div.selected:hover {
    background-color: #169465;
}

.Dropdown>.list>div:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}

.Dropdown>.list>div:active {
    background-color: #fff;
}