.Btn {
    background-color: var(--color_primary);
    padding: var(--gap);
    color: #fff;
    border: none;
}

.Btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.Btn:active {
    opacity: 0.9;
}

.Btn:disabled {
    opacity: 0.3;
}

.Btn:disabled:hover {
    cursor: default;
}