.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr;
}

.Grid>div {
    padding: var(--gap);
}

.Grid> :nth-child(1) {
    background-color: #333;
    color: #fff;
}

.Grid> :nth-child(2) {
    background-color: #f1f1f1;
}