@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,400&display=swap');

html,
body,
#root,
.App {
    height: 100%;
}

body {
    margin: 0;
}

body,
button {
    font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: red;
}

a.active {
    font-weight: bold;
    color: var(--color_primary);
}

.App[theme="red"] {
    --color_primary: red;
}

.App[theme="blue"] {
    --color_primary: blue;
}