.Line {
    display: flex;
    gap: var(--gap);
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.Line.Between {
    justify-content: space-between;
}

.Line.Rows {
    flex-direction: column;
    align-items: flex-start;
}

.Line.Rows.flex {
    align-items: stretch;
}